:root {
  --primary-color: #2584ff;
  --secondary-color: #00d9ff;
  --accent-color: #ff3400;
  --headings-color: #1b0760;
  --body-color: #918ca4;
}

html {
  font-size: 62.5% /* 1rem = 10px */;
}
body {
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;.
  line-height: 1.6;
  color: var(--body-color);
}

/*Typography*/
h1,
h2,
h3 {
  color: var(--headings-color);
  margin-top: 0;
  margin-bottom: 0.85em;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*links*/
a{
  text-decoration: none;
  
}

.link-arrow {
  color:var(--accent-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s ease;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/*Badges*/
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--primary-color);
  color: white;
}
.badge--secondary {
  background-color: var(--secondary-color);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/*Lists*/
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--headings-color);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick{
  list-style-image: url('../assets/icons/tick.svg');
  padding-left: 3rem;
}

.list--tick .list__item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/*Icons*/
.icon {
  width: 4rem;
  height: 4rem;
} 

.icon--primary {
  fill: var(--primary-color);
}

.icon-wrapper {
  background-color: f3f9fa;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}